@import "common.scss";
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
$my-font: 14px "Bahnschrift";
$my-font-light: 14px lighter "Bahnschrift";
$address-font: 15px "Fira Code";

.search-one-offs {
    display: none $_I;
}

#contentAreaContextMenu,
#tabContextMenu {
    #context-take-screenshot,
    #context-sep-screenshots,
    #context_openANewTab,
    #context-print-selection,
    #context-inspect-a11y,
    #context_moveTabOptions,
    #context_reloadTab,
    #context-openlinkprivate,
    #context-openlink,
    #context-sendpagetodevice,
    #context_sendTabToDevice,
    #context-navigation,
    #context-savepage,
    #context-selectall,
    .share-tab-url-item,
    #context_selectAllTabs,
    #context_bookmarkTab,
    #context_selectAllTabs,
    #appMenu-print-button2,
    #appMenu-passwords-button,
    #appMenu-new-tab-button2,
    #context-openlinkintab,
    #context-bookmarklink,
    #context-sendlinktodevice,
    #context-sendimage,
    #context-setDesktopBackground,
    #context-sep-setbackground {
        display: none $_I;
    }
}

#TabsToolbar-customization-target {
    .tab-stack {
        font-size: 14px;
        font-family: $my-font-light;
    }
}

#PlacesToolbar {
    .bookmark-item {
        padding-right: 40px $_I;
        font: $my-font;
    }

    .toolbarbutton-icon {
        width: 20px $_I;
        height: 20px $_I;
        margin-right: 5px $_I;
    }

    #PlacesToolbarItems {
        border-color: beige;
        border-width: 1px 0 0 0;
        border-top-style: groove;
        background: #00000008;
    }

    font-size: 15px;
    font-weight: 500;
    height: 40px;
}

#urlbar-container {
    font-family:
        "FiraCode Nerd Font Mono",
        "FiraCode Nerd Font",
        "FiraCode NFM",
        "FiraCode",
        "Fira Code",
        "Consolas" $_I;

    font-size: 15px $_I;
}

tab {
    --tab-color-1: #c0e7f5;
    --tab-color-2: #b8f3c5;
    --tab-color-3: #ff93fd;
    --tab-color-4: #f4b9b9;
    --tab-color-5: #b8b2e3;
    --tab-color-6: #d0f5c1;
    --tab-color-7: #fac5ed;
    --tab-color-8: #d0bced;
    --tab-color-9: #e8c5f5;
    --tab-color-10: #ccacac;
    --tab-color-11: #cdf1c3;
    --tab-color-12: #bdb9f2;
    --tab-color-13: #b4d6ad;
    --tab-color-14: #dfecc3;
    --tab-color-15: #caf6f0;
    @media (prefers-color-scheme: dark) {
        --tab-color-1: #1b2c32;
        --tab-color-2: #042f0d;
        --tab-color-3: #510d50;
        --tab-color-4: #6f0c0c;
        --tab-color-5: #2a2265;
        --tab-color-6: #3e4b39;
        --tab-color-7: #540640;
        --tab-color-8: #2b095a;
        --tab-color-9: #470060;
        --tab-color-10: #561f1f;
        --tab-color-11: #32402e;
        --tab-color-12: #120d4d;
        --tab-color-13: #0e3805;
        --tab-color-14: #385100;
        --tab-color-15: #003c34;
    }
}

$tab-colors: 15;
@function get-tab-color($i) {
    @return var(--tab-color-#{$i});
}
$top-overlap: 4px;

@for $i from 1 through $tab-colors {
    .tabbrowser-tab:nth-child(#{$tab-colors}n + #{$i} of :not([pinned])) {
        @media (prefers-color-scheme: light) {
            color: black !important;
        }
        --imposed-background: #{get-tab-color($i)};
    }
}
:root {
    --tab-min-height_mlt: 30px $_I;
}

@function css-lighten($color, $amount) {
    @return lch(from var(#{$color}) calc(l + $amount) c h);
}

.tabbrowser-tab {
    overflow: unset $_I;
    padding: 0 $_I;
    position: relative $_I;
    filter: brightness(0.95) contrast(0.95) $_I;
    &[selected],
    &[pinned] {
        filter: unset;
    }
    &[pinned] {
        position: unset !important;
    }
    margin-bottom: -#{$top-overlap} $_I;
    .tab-background {
        box-shadow: 0px -6px 2px 0px rgba(0, 0, 0, 0.564) !important;
        background: css-lighten(--imposed-background, -10) !important;
    }
    $breakout: 10px;
    &[selected="true"] {
        z-index: 1001 $_I;

        .tab-label {
            font-size: 16px $_I;
            font-weight: 600 $_I;
        }
        .tab-content {
            padding: 0 $_I;
            margin-left: -2px;
            margin-right: -2px;
        }
        box-sizing: content-box $_I;
        .tab-background {
            box-shadow: 0px 0px 2px 2px rgb(253, 253, 255) $_I;
            background: css-lighten(--imposed-background, 10) !important;
            margin-left: -#{$breakout} $_I;
            margin-right: -#{$breakout} $_I;
        }
    }
    &:not([selected="true"]):hover {
        z-index: 1002 $_I;
        .tab-background {
            outline: 2px solid rgb(131, 174, 255) $_I;
            filter: none;
        }
    }
}

[label="Torrent Control"] {
    -moz-box-ordinal-group: 0 $_I;
}
