@import "common.scss";
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
$my-font: 14px "Bahnschrift";
$my-font-light: 14px lighter "Bahnschrift";
$address-font: 15px "Fira Code";

.search-one-offs {
    display: none $_I;
}

#contentAreaContextMenu,
#tabContextMenu {
    #context-take-screenshot,
    #context-sep-screenshots,
    #context_openANewTab,
    #context-print-selection,
    #context-inspect-a11y,
    #context-pocket,
    #context_moveTabOptions,
    #context_reloadTab,
    #context-openlinkprivate,
    #context-openlink,
    #context-sendpagetodevice,
    #context_sendTabToDevice,
    #context-navigation,
    #context-savepage,
    #context-savelinktopocket,
    #context-selectall,
    .share-tab-url-item,
    #context_selectAllTabs,
    #context_bookmarkTab,
    #context_selectAllTabs,
    #appMenu-print-button2,
    #appMenu-passwords-button,
    #appMenu-new-tab-button2,
    #context-openlinkintab,
    #context-bookmarklink,
    #context-sendlinktodevice,
    #context-sendimage,
    #context-setDesktopBackground,
    #context-sep-setbackground {
        display: none $_I;
    }
}

#TabsToolbar-customization-target {
    .tab-stack {
        font-size: 14px;
        font-family: $my-font-light;
    }
}

#PlacesToolbar {
    .bookmark-item {
        padding-right: 40px $_I;
        font: $my-font;
    }

    .toolbarbutton-icon {
        width: 20px $_I;
        height: 20px $_I;
        margin-right: 5px $_I;
    }

    #PlacesToolbarItems {
        border-color: beige;
        border-width: 1px 0 0 0;
        border-top-style: groove;
        background: #00000008;
    }

    font-size: 15px;
    font-weight: 500;
    height: 40px;
}

#urlbar .urlbar-input-box {
    font: 15px "FiraCode NFM" $_I;
}

hbox.toolbar-items {
    margin-right: 25px;
    background: rgba(6, 4, 4, 0.23);
}

// a map with int keys for the colors

$tab-colors: (
    1: #6a0303,
    2: #793033,
    3: #a07d22,
    4: #3b4909,
    5: #4d552e,
    6: #31631d,
    7: #828b1c,
    8: #104333,
    9: #033e46,
    10: #574824,
    11: #421f5c,
    12: #1e1b4e,
    13: #580a4b,
    14: #4b284a,
    15: #500338,
    16: #78033a,
    17: #4b284a,
    18: #4c0119,
    19: #470a0f,
    20: #411e1e
);

$top-overlap: 4px;

@each $i, $color in $tab-colors {
    .tabbrowser-tab:nth-child(#{length($tab-colors)}n + #{$i}):not([pinned]) .tab-background {
        background: $color $_I;
    }
}

:root {
    --tab-min-height_mlt: 30px $_I;
}

.tabbrowser-tab {
    overflow: unset;

    margin-bottom: -#{$top-overlap} $_I;
    margin-inline-start: 0 $_I;
    .tab-background {
        box-shadow: -2px -2px 2px 2px rgba(0, 0, 0, 0.564) $_I;
    }
    &[selected="true"] {
        z-index: 1001 $_I;
        $breakout: 10px;
        @include p @include margin-lr(-$breakout);
        box-sizing: border-box $_I;
        .tab-background {
            @include padding-lr($breakout);

            box-shadow: 0px 0px 2px 2px rgb(253, 253, 255) $_I;
        }
    }
    &:not([selected="true"]):hover {
        .tab-background {
            outline: 2px solid rgb(131, 174, 255) $_I;
        }
    }
}

[label="Torrent Control"] {
    -moz-box-ordinal-group: 0 $_I;
}
